
// Navigation block begin

+nav('content__nav', [
    {
        name: "Detail",
        link: "#",
        isactive: ""
    },
    {
        name: "Content",
        link: "#",
        isactive: "1"
    },
    {
        name: "Ads",
        link: "#",
        isactive: ""
    },
    {
        name: "Data capture",
        link: "#",
        isactive: ""
    },
    {
        name: "Look and feel",
        link: "#",
        isactive: ""
    }
])
// Navigation block end