+players([
	{
		name: "DeMar DeRozan",
		photo: "derozan.jpg",
		link: "#"
	},
	{
		name: "Stephen Curry",
		photo: "curry.jpg",
		link: "#"
	},
	{
		name: "Kevin Durant",
		photo: "durant.jpg",
		link: "#"
	},
	{
		name: "James Harden",
		photo: "harden.jpg",
		link: "#"
	},
	{
		name: "DeAndre Jordan",
		photo: "jordan.jpg",
		link: "#"
	},
	{
		name: "Russell Westbrook",
		photo: "westbrook.jpg",
		link: "#"
	},
	{
		name: "Chandler Parsons",
		photo: "parsons.jpg",
		link: "#"
	},
	{
		name: "Kenneth Faried",
		photo: "faried.jpg",
		link: "#"
	},
	{
		name: "Gordon Hayward",
		photo: "hayward.jpg",
		link: "#"
	},
	{
		name: "Mike Conley",
		photo: "conley.jpg",
		link: "#"
	},
	{
		name: "Dwight Howard",
		photo: "howard.jpg",
		link: "#"
	},
	{
		name: "Trey Burke",
		photo: "",
		link: "#"
	},
	{
		name: "",
		photo: "",
		link: "#"
	},
	{
		name: "",
		photo: "",
		link: "#"
	},
	{
		name: "",
		photo: "",
		link: "#"
	},
	{
		name: "",
		photo: "",
		link: "#"
	},
	{
		name: "",
		photo: "",
		link: "#"
	},
	{
		name: "",
		photo: "",
		link: "#"
	},
	{
		name: "",
		photo: "",
		link: "#"
	},
	{
		name: "",
		photo: "",
		link: "#"
	},
	{
		name: "",
		photo: "",
		link: "#"
	},
	{
		name: "",
		photo: "",
		link: "#"
	},
	{
		name: "",
		photo: "",
		link: "#"
	},
	{
		name: "",
		photo: "",
		link: "#"
	}
])