h5.sidebar__block-heading Closed
+votes ([
	{
		name: "All time greats",
		photo: "vote-img-5.svg",
		link: "#",
		isnew: ""
	},	
	{
		name: "Insane Dunks",
		photo: "vote-img-6.svg",
		link: "#",
		isnew: ""
	},
	{
		name: "2014 Music Moments",
		photo: "vote-img-7.svg",
		link: "#",
		isnew: ""
	}	
])