h5.sidebar__block-heading Draft
+votes ([
	{
		name: "New vote",
		photo: "",
		link: "#",
		isnew: "1"
	},	
	{
		name: "Serie A Footballer of the Year",
		photo: "vote-img-1.svg",
		link: "#",
		isnew: ""
	}
])