h5.sidebar__block-heading Active
+votes ([
	{
		name: "Unleash a Jaguar",
		photo: "vote-img-2.svg",
		link: "#",
		isnew: ""
	},	
	{
		name: "Choose best Wimbledon player and win tickets to the finals",
		photo: "vote-img-3.svg",
		link: "#",
		isnew: ""
	},
	{
		name: "2015 Music Moments",
		photo: "vote-img-4.svg",
		link: "#",
		isnew: ""
	}	
])