// Mixins

@mixin text($color, $font_family, $font_size, $font_weight) {
  color: $color;
  font-family: $font_family;
  font-size: $font_size;
  font-weight: $font_weight;
}


@mixin wide() {
  @media (max-width: 1440px) {
    @content
  }
}

@mixin desktop() {
  @media (max-width: 1199px) {
    @content
  }
}

@mixin laptop() {
  @media (max-width: 990px) {
    @content
  }
}

@mixin tablet() {
  @media (max-width: 767px) {
    @content
  }
}

@mixin phone() {
  @media (max-width: 480px) {
    @content
  }
}

