// Variables

$primary-font: "Roboto", "Arial", sans-serif;

$first-color: #303030; // dark-grey color
$second-color: #ffd840; // yellow color
$third-color: rgba(255, 255, 255, 0.9); // almost white color
$forth-color: #eee; // light-grey color
$fifth-color: #fafafa; // light-light-grey
$sixth-color: #26bf8c; //turquise color
/*$seventh-color: #; //rgb()
$eigth-color:#; //rgb()
$ninth-color: # //rgb() */
